<style>
.list-item-container {
  line-height: 1;
  padding: 15px 0px 15px 15px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

.location {
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}

.desc {
  line-height: 1.2;
  font-size: 13px;
}

</style> 

<ons-page ng-controller="ProductController">
<ons-toolbar>
	<div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>

          <div class="center">
           	商品管理 
          </div>
          <div class="right">
            <ons-toolbar-button ng-click="go('product.create')">
              <ons-icon icon="ion-plus" fixed-width="false" style="vertical-align: -4px;"></ons-icon>
            </ons-toolbar-button>
          </div>
        </ons-toolbar>



      <ons-list>

        <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="p in products" ng-click="go2('product.update', p)">
          <ons-row>
            <ons-col width="95px">
              <img ng-src="{{p.profile.images[0]|bucket:'mini'}}" class="thumbnail">
            </ons-col>
            <ons-col>
              <div class="name">
               {{p.profile.name}} 
              </div>
              <div class="location">
                <i class="fa fa-map-marker"></i> {{p.profile.price|currency:'￥'}}元
              </div>
              <div class="desc">
                {{p.profile.describe}}
              </div>
            </ons-col>
            <ons-col width="40px"></ons-col>
          </ons-row>
        </ons-list-item>
      </ons-list>

    </ons-page>
